<a href="https://colab.research.google.com/github/jhjhj0703/py21/blob/master/notebook/ch2_code02_py21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code02.ipynb
## py21  (change to your id)
- List
- Tuple

In [28]:
# ch2_04_list.py

print("리스트: list 란?")
odd = [1, 3, 5, 7, 9]  #(), {}, []
odd, type(odd)
# 여러 가지 리스트
a = []   # list 초기화
a
b = [1, 2, 3]
b
c = ['Life', 'is', 'too', 'short']
c
d = [1, 2, 'Life', 'is'] # inhomogenegus efemnfs
d
e = [1, 2, ['Life', 'is']] #nested list
print("e = " , e, ", d = ", d)

리스트: list 란?
e =  [1, 2, ['Life', 'is']] , d =  [1, 2, 'Life', 'is']

In [29]:
# list 초기화
# a = []
a = list()
a   # []

[]

In [30]:
b = list((1,2,3))
b

[1, 2, 3]

### 리스트의 인덱싱과 슬라이싱

In [31]:
print("리스트: 리스트의 인덱싱과 슬라이싱")
a = [1, 2, 3]
a
a[0]
# a[3] # list index out of range
a[0]+a[2]
a[-1]

리스트: 리스트의 인덱싱과 슬라이싱

3

In [32]:
#
a = [1, 2, 3, ['a', 'b', 'c']]  # 2차원 구조
a[0]
a[3]
a[-1]
# # check this: a[0] + a[-1] -> TypeError
# a[0] + a[-1]  # TypeError: unsupported operand type(s) for +: 'int' and 'list'
# # Indexing inner list
a[-1][0] # 2창원 데이터 구조

'a'

In [33]:
# 도전!
a[-1][-1]

'c'

### triple list (삼중 리스트)

In [34]:
# Indexing of triple list
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is', 'good']]]  # 3차원 구조
a[2] # a[-1]
a[2][-1]
a[2][-1][-1]   # 'Life' -> 'good'

'good'

### 리스트의 슬라이싱

In [35]:
#
# 리스트의 슬라이싱
a1 = [1, 2, 3, 4, 5]
a1[0:2]
a2 = "12345"
a1[0:2],a2[0:2]

([1, 2], '12')

In [36]:
#
a = [1, 2, 3, 4, 5]
a[0:2]
a[2:]
a[0:4:2]  # a[start:end:step]

[1, 3]

In [37]:
#
# 중첩된 리스트에서 슬라이싱하기
#
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]
a[3][:2]

['a', 'b']

In [38]:
#
# 리스트: 인덱싱, 슬라이싱 연습
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:3]
x[3:]
x[:6]
x[0:6:2]  # x[:6:2]
x[-1]
x[-3]
x[:-3]
x[::-1]
x[-3::-1]

[7, 6, 5, 4, 3, 2, 1]

### 리스트 연산하기

In [39]:
#
###################################
print("리스트: 리스트 연산하기")
###################################
#
# 리스트 더하기(+)
#
a = [1, 2, 3]
b = [4, 5, 6]
a + b

리스트: 리스트 연산하기

[1, 2, 3, 4, 5, 6]

In [40]:
#
# 리스트 반복하기(*)
#
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [41]:
#
# 리스트 길이구하기
#
len(a), len(a*3)

(3, 9)

In [42]:
#
# 초보자가 범하기 쉬운 리스트 연산 오류
#
a = [1, 2, 3]
# a[2] + "hi"
str(a[2]) + "hi"

'3hi'

### 리스트의 수정과 삭제

In [43]:
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
a[2] = 4  # list is mutable!!!
a

[1, 2, 4]

In [44]:
#
# del 함수 사용해 리스트 요소(항목) 삭제하기
#
a = [1, 2, 3]
del a[1] # 인덱싱을 이용한 삭제
a
a = [1, 2, 3, 4, 5]
del a[2:] # 슬라이싱을 이용한 삭제
a

[1, 2]

### 라스트 관련 함수들

In [45]:
# ch2_05_list_functions.py

print("리스트: 내부 함수 이용")
#
# 리스트에 요소 추가(append)
#
a = [1, 2, 3]
a.append(4)
a
# 리스트 안에는 어떤 자료형도 추가할 수 있다.
# 리스트에 다시 리스트를 추가한 결과
a.append([5, 6])
a

리스트: 내부 함수 이용

[1, 2, 3, 4, [5, 6]]

In [46]:

#
# 리스트 정렬(sort)
#
a = [1, 4, 3, 2]
a.sort()
a

s = ["a", "c", "b"]
s.sort()
s

['a', 'b', 'c']

In [47]:
#
# 리스트 뒤집기(reverse)
#
a = ["a", "c", "b"]
a.reverse()
a,a[::-1]

(['b', 'c', 'a'], ['a', 'c', 'b'])

In [48]:
#
# 위치 반환(index)
#    0  1  2
a = [1, 2, 3]
a.index(3)
a.index(1)
# a.index(0) # ValueError: 0 is not in list

s = ["a", "c", "b"]
# s.index(3)  # Error -> ValueError: 3 is not in list
# s.index(a)  # Error -> ValueError: [1, 2, 3] is not in list
s.index("a"),s.index("b")

(0, 2)

In [49]:
#
# 리스트에 요소 삽입(insert)
#
a = [1, 2, 3]
a.insert(0, 4) # 0번 인덱스에 값 4를 넣으시오.
a
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [0]:
#
# 리스트 요소 제거(remove)
#
a = [1, 2, 3, 1, 2, 3]  # 중복 값을 허용하는 데이터 구조 
a.remove(3)
a
# 3을 리스트 a에서 완전히 제거
a.remove(3)
# a
# a.remove(3)  # ValueError

In [51]:
a

[1, 2, 1, 2]

In [52]:
a.remove(3)  # ValueError: [1, 2, 3] is not in list

ValueError: ignored

In [0]:
#
# 리스트 요소 끄집어내기(pop)
#
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a.pop()
a

In [0]:
#
a = [1, 2, 3]
# pop(x)는 리스트의 index가 x인 요소를 돌려주고 그 요소는 삭제한다.
r = a.pop(1)
r, a
a.pop(2)  # IndexError -> pop index out of range

In [0]:
#
# 리스트에 포함된 요소 x의 개수 세기(count)
#
a = [1, 2, 3, 1]
a.count(1)

In [0]:
#
# 리스트 확장(extend)
#
a = [1, 2, 3]
a.extend([4, 5])
a  # a.extend([4, 5])는 a += [4, 5]와 동일

b = [6, 7]
a.extend(b)
a

## 튜플 (tuple)

In [54]:
# ch2_06_tuple.py

print("튜플: tuple 이란?")
# 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

even = (2, 4, 6, 8)
even

튜플: tuple 이란?

(2, 4, 6, 8)

In [0]:
# 여러 가지 튜플
t1 = ()  # 튜플 초기화, t1 = tuple()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

In [56]:
t1,t2,t3,t4,t5

((), (1,), (1, 2, 3), (1, 2, 3), ('a', 'b', ('ab', 'cd')))

In [57]:
t2n = (1)  # t2 = (1,)
t2,t2n

((1,), 1)

In [58]:
type(t2),type(t2n)

(tuple, int)

### 튜플의 요소값을 지우거나 변경

In [59]:
#####################################################
#
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
t1
# del t1[0]  # Error 
#
# 2. 튜플 요솟값을 변경하려 할 때
#
t1[0] = "c"  # TypeError 'tuple' object does not support item assignment

TypeError: ignored

### 튜플의 인덱싱과 슬라이싱

In [60]:
#
#
print("튜플: 사용방법")
#
# 인덱싱하기
#
t1 = (1, 2, "a", "b")
t1[0],t1[3]
#
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # 'a' or ('a',)
t1[2:]

튜플: 사용방법

('a', 'b')

In [70]:
# 
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3,4)
t1 + t2
#
# 튜플 곱하기
#
t2 = (3, 4)
print(id(t2))
t2 * 3
id(t2)
t2 = t2 * 3
id(t2)
#
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1)

140047531766152

4

In [62]:
a=1
print(id(a))
a=a+1
print(id(a))

10914496
10914528