<a href="https://colab.research.google.com/github/jhjhj0703/py21/blob/master/notebook/ch5_exercises_py21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [1]:
# [Q1] Code  
class Calculator:
    def __init__(self):  #클래스 초기화
        self.value = 0  #self의 값 0으로 초기화
 
    def add(self, val):  
        self.value += val   # self.value에 받는 값을 누적하여 더함 

class UpgradeCalculator(Calculator):  # Calculator 클래스를 상속하는 클래스 UpgradeCalculator
    def minus(self,val):
        self.value -= val  # self.value에 받는 값을 누적하여 뻄
  
cal = UpgradeCalculator()  # cal에 UpgradeCalculator호출
cal.add(10)                # add함수에 값을 10을 넣고 실행
cal.minus(7)               # minus함수에 값을 7을 넣고 실행 
print(cal.value)           # 10에서 7을 뺀 3을 출력

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [0]:
# [Q2] Code
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100

cal = MaxLimitCalculator()
cal.add(50) 
cal.add(60) 
print(cal.value)

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [0]:
# [Q3] Code(1)
all([1, 2, abs(-3)-3])

False

### Code(1) [설명]
> - 내장함수 abs()은 절대값을 구하는 함수이므로 abs(-3)은 3이다. 그러므로 abs(-3)-3의 결과는 0이다.                     
> - 내장함수 all()은 모든 요소가 참일 때 True를 반환한다. 
> ```
all([1, 2, abs(-3)-3])
```
>> - 위의 코드에서 함수 all은 매개변수로 [1, 2, 0] 을 갖는다. 파이썬에서는 0을 False로 인식하므로 False 가 출력된다.

In [0]:
# [Q3] Code(2)
chr(ord('a')) == 'a'

True

### Code(2) [설명]
> - ord() 함수는 특정한 문자를 아스키 코드 값으로 변환해 주는 함수이고,            
> chr() 함수는 아스키 코드 값을 문자로 변환해 주는 함수이다.
> ```
chr(ord('a')) == 'a'
```
> > - ord('a')에서 문자열 'a'의 아스키 코드 값은 97이 되어 chr(97)이 된다.           
> > chr(97)은 97을 문자로 변환하므로 다시 'a'가 된다.                  
> >그러므로 'a'=='a' 가 되어 True가 출력된다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [2]:
# [Q4] Code-1
numbers = [1, -2, 3 ,-5, 8, -3]
list(filter(lambda num:num>0,numbers))

# lambda 인자:표현식  의 형식으로 사용

# filter 함수는 filter(함수명,[앞의 함수에 들어가는 반복가능자료형])의 형식으로 사용하며
# 두 번째 인수인 자료형이 첫 번째 인수인 함수에 입력되었을 때 반환 값이 참인 것만 묶어서 반환

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [0]:
# [Q5] Code
int('0xea', 16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [3]:
# [Q6] Code
numbers =  [1, 2, 3, 4]
list(map(lambda x:x*3,numbers))
# map(함수, 반복가능자료형)의 형식으로 사용하며
# 입력받은 자료형의 각 요소를 함수가 수행한 결과를 묶어서 돌려줌

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
# [Q7] Code
numbers = [-8, 2, 7, 5, -3, 5, 0, 1]
max(numbers) + min(numbers)

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
# [Q8] Code-1
round(17/3, 4)

5.6667

In [0]:
# [Q8] Code-2
a = float(format(17/3, ".4f")) 
print(a)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [0]:
# [Q11] Code

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

>> - %Y 년도 
- %m 달
- %d 날
- %H 시간 (24시간 출력 상태)
- %M 분
- %S 초

In [6]:
# [Q12] Code-1
import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2020/06/13 12:25:14'

>> - %x	현재 설정된 로케일에 기반한 날짜 출력
- %X	현재 설정된 로케일에 기반한 시간 출력

In [7]:
# [Q12] Code-2
import time
time.strftime("%x %X")

'06/13/20 12:25:17'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [10]:
# [Q13] Code
import random
list = range(1,46)
lotto = random.sample(list,6)
print(lotto)

[8, 42, 12, 26, 41, 35]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb