<a href="https://colab.research.google.com/github/jhjhj0703/py21/blob/master/notebook/mid_exam_py21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬활용 중간고사 풀이

### 문제1. 다음 식의 연산 결과는?

In [0]:
a = 5
b = 3
a**b

# 1번 풀이
# a**b는 제곱이라는 의미이다. 
# a^3제곱이라는 의미로 5*5*5 125이다.

125

### 문제2. 다음 문자여 a에 대하여 슬라이싱을 한 결과는?

In [0]:
a="Life is too short, You need python!"
a[-16:-8]

# 2번 풀이
# 슬라이싱에 -부호가 달리게 되면 반대로 카운트해야 하는데 0부터가 아닌 -1을 기준으로 시작해야 한다..

'You need'

### 문제3. 다음 list a의 인덱싱 결과는?

In [0]:
a = [1,2, (3, 4), ['a', 'b',['My', 'Life', 'Good']]]
a[3][-1][0]

# 3번 풀이
# [3] > ['a', 'b', ['My', 'Life', 'Good']]
# [-1] > ['My, 'Life', 'Good']
# [0] > 'My'
# 따라서 인덱시의 결과는 'My'이다.

'My'

### 문제4. 다음 tuple t1의 슬라이싱 결과는?

In [0]:
t1 = (0, 1,"s","t","u")
t1[2:-2]

# 4번 풀이
# 튜플에서 요소가 하나일 경우에는 뒤에 ','를 붙인다.

('s',)

### 문제5. 다음 bool 값 출력 중 정확한 것은?

In [0]:
bool([0,1,2]), bool([(0)]), bool((0)), bool((0,))

# 5번 풀이
# bool([0,1,2])는 값이 리스트 이므로 참이다.
# bool([(0)])는 값이 리스트 이므로 참이다.
# bool((0))는 값이 0이기 때문에 거짓이다.
# bool((0,))는 튜플에 요소가 담겨 있기 때문에 참이다.

(True, True, False, True)

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score >=60:
  message = "success"
else:
  message = "failure"

# 6번 풀이 
# if - else문을 1줄 코드로 만들게 되면 if는 뒤로 이동하게 된다.
# message = "success" if score >= 60 else "failure"
# print(message)

### 문제7. 다음 코드의 실행 결과는?

In [10]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

# 7번 풀이
# print문은 여러 항목들을 구분할 때, 항목 사이끼리 원 스페이스 바로 떨어져있고 end 속성으로 줄을 바꾸지 않고 ,를 넣었다.

0 A,1 B,2 C,

### 문제8. 다음의 결과가 출력되지 않는 것은?

In [0]:
number = 10 
day = "three"

a = f"l ate {number} apples. so l was sick for {'three'} days."
b = f"I ate {number} apples. so I was sick for {day} days."
c = "I ate {0} apples. so I was sick for {1} days.".format(10, day)
d = "I ate {0} apples. so I was sick for {1} days.".format(number = 10, day)

# 8번 풀이
# a,b,c 모두 출력 되지만 d는 오류이다.
# d가 오류난 이유는 {name}를 사용할 경우 format 함수에 반드시 같은 형태의 입력값이 있어야 하기 때문이다.

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 코드를 작성하시오

In [26]:
sum([num for num in range(1, 1001) if num % 5==0]) 

# 9번 풀이 
# 5의 배수를 구할려면 5로 나누었을 때 나머지가 0 이어야 하고 5의 배수들을 모두 더하는 것이므로 sum함수를 사용해야 합니다.

100500

### 문제10. 4개 과목의 평균 성적을 구하시오.[a],[b]에 적합한 코드는?

In [27]:
subjects['python', 'english','math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a]. _____(subjects, scores):
  total += score
  print(subject, score)
print("평균 점수 = (0), format([b].____"))

# zip, total/len(subjects)을 사용해야 합니다.
# total을 subjects의 총 갯수로 나누는 것이 평균이기 때문입니다.

SyntaxError: ignored